Readings/Adaptive Dynamic Checkpointing for Safe Efficient INtermittent Computing.pdf
Readings/Alpaca Intermittent Execution without Checkpoints.pdf
Readings/Hibernus Sustaining Computation during Intermittent Supply for Energy-Harvesting Systems.pdf
Readings/Intermittent Computation without Hardware support and programmer intervention.pdf
Readings/Intermittent Computing Challenges and Opportunities.pdf
article.aux
article.bbl
article.bcf
article.blg
article.fdb_latexmk
article.fls
article.log
article.run.xml
article.synctex.gz
notes.txt
